{
  "root": true,
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "env": {
    "node": true,
    "es6": true,
    "commonjs": true,
    "browser": true
  },
  "plugins": ["no-loops", "promise"],
  "extends": ["eslint:recommended", "plugin:promise/recommended", "prettier"],
  "rules": {
    "no-console": "warn",
    "no-loops/no-loops": "error"
  }
}
